.card {
    border: 2px solid black !important;
}

.stacked {
    margin-top: -70px;
}

.pointer {
    cursor: pointer;
}

.suite-r {
    color: #db1424;
}

.card-body {
    font-size: xx-large;
}

.empty {
    background-color: transparent !important;
    border: 2px dotted black !important;
}

.golden {
    border: 2px solid rgb(211, 151, 1) !important;
}

.ten {
    position: relative;
}