* {
  user-select: none !important;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }
}

.pop {
  animation: pop .5s forwards 1;
}

.card {
    border: 2px solid black !important;
}

.hide {
  visibility: hidden;
}

@keyframes selected {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.98);
  }
  100% {
    transform: scale(1);
  }
}

.selected {
  animation: selected .25s forwards 1;
}

.stacked {
    margin-top: -70px;
}

.pointer {
    cursor: pointer;
}

.suite-r {
    color: rgb(219, 20, 36);
}

.card-body {
    font-size: xx-large;
}

.empty {
    background-color: transparent !important;
    border: 2px dotted black !important;
}

.golden {
    border: 2px solid rgb(211, 151, 1) !important;
}

.pushable {
    position: relative;
    width: 100%;
    border: none;
    background: transparent;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: rgb(219, 20, 36);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .pushable .front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  .pushable .shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }

  @keyframes rotating {
    0% {
      transform: rotate(360deg);
      scale: 1;
    }
    50% {
      scale: 1.3;
    }
    100% {
      transform: rotate(0deg);
      scale: 1;
    }
  }

  .rotating {
    animation: rotating 1s ease-out 1;
  }

  .reset {
    background: none !important;
  }

  .no-tap,.reset,.pushable {
    -webkit-tap-highlight-color: transparent;
  }